# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pro.user*

qrc_*
moc_*

.qmake.stash

Makefile
Makefile.Debug
Makefile.Release

Thumbs.db

vendor/

dist/
debug/
release/

ObsAutoRecord_win64.exe
